@model apicrud.Models.Forgetpassword

<h2>Login</h2>

<form asp-action="Forgetpassword" method="post">
    <div>
        <label>Email:</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div>
        <label>Newpassword:</label>
        <input asp-for="Newpassword" type="password" class="form-control" />
    </div>
    <div>
        <label>Confirmpassword:</label>
        <input asp-for="Confirmpassword" type="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Update</button>

    @if (ViewBag.Error != null)
    {
        <p class="text-danger">@ViewBag.Error</p>
    }
</form>
