@model IEnumerable<apicrud.Models.info>

<!--
<h3>Token:</h3>
<p style="word-wrap: break-word;">@ViewBag.Token</p>
-->
<div style="border: 2px solid #ccc; padding: 20px; max-width: 400px; margin: 50px auto; border-radius: 10px;">
    <h1 style="text-align: center; margin-bottom: 30px;">Dashboard</h1>

    <div style="text-align: center;">
        <a asp-action="Create" class="btn btn-dark equal-btn m-2">    Add New    </a><br><br />
        <a asp-action="infotable" class="btn btn-dark equal-btn m-2">   InfoTable  </a><br><br />
        <a asp-action="candidates" class="btn btn-dark equal-btn m-2">Deleted Persons</a><br><br />

        <form asp-controller="Account" asp-action="Logout" method="post" style="display:inline;">
            <button type="submit" class="btn btn-danger equal-btn m-2">    Logout     </button>
        </form>
    </div>
</div>


